In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
import pandas as pd
from src.constants.data_quality_check_constant import *
from src.entity.quality_check_artifact import *
from src.constants.data_transformation_constant import *
from src.entity.data_transformation_artifact import *
# constants
special_values = DataQualityConfig().special_values
max_threshold = DataQualityConfig().threshold

df_url_path = DataTransformationConfig().aggregated_artifact_interim_dir
print(df_url_path)

artifact\interim

#### new df

In [3]:
df = pd.read_csv(r'D:\home loan credit risk\artifact\interim\main_df_transformed.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 316 entries, SK_ID_CURR to CB_WORST_DPD_DEF_96M
dtypes: float64(262), int64(38), object(16)
memory usage: 741.4+ MB

In [6]:
for col in df.select_dtypes(include=['float64']).columns:
    df[col] = pd.to_numeric(df[col], downcast='float')

In [5]:
len(df.columns)

316

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 316 entries, SK_ID_CURR to CB_WORST_DPD_DEF_96M
dtypes: float32(220), float64(42), int64(38), object(16)
memory usage: 483.3+ MB

In [8]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,YEARS_AGE,YEARS_EMPLOYED,YEARS_REGISTRATION,YEARS_ID_PUBLISH,BB_WORST_DPD_3M,BB_WORST_DPD_6M,BB_WORST_DPD_9M,BB_WORST_DPD_12M,BB_WORST_DPD_24M,BB_WORST_DPD_36M,BB_WORST_DPD_72M,BB_WORST_DPD_96M,BB_SEVERE_DPD_12M,BB_SEVERE_DPD_24M,BB_SEVERE_DPD_36M,BB_SEVERE_DPD_72M,BB_RECENT_MONTH_OF_DPD,B_NUM_CREDIT_CURRENCIES,B_NUM_ACTIVE_CREDIT_90D,B_NUM_ACTIVE_CREDIT_180D,B_NUM_ACTIVE_CREDIT_270D,B_NUM_ACTIVE_CREDIT_360D,B_NUM_ACTIVE_CREDIT_720D,B_DAYS_SINCE_LAST_BAD_LOAN,B_HAS_CREDIT_DAYS_OVERDUE,B_AVG_REPAYMENT_DAYS_DIFF,B_MAX_REPAYMENT_DAYS_DIFF,B_FLAG_HAS_AMT_OVERDUE,B_MAX_AMT_OVERDUE,B_MAX_CREDIT_PROLONG,B_RATIO_DEBT_TO_LOAN,B_AVG_AMT_CREDIT_SUM,B_HAS_CREDIT_LOAN,IP_NUM_OF_RESHEDULES_360D,IP_NUM_OF_RESHEDULES_720D,IP_NUM_OF_RESHEDULES_1080D,IP_NUM_OF_RESHEDULES_1440D,IP_NUM_OF_RESHEDULES_1800D,IP_NUM_OF_RESHEDULES_2160D,IP_AVG_RATIO_PAYMENT_INSTALMENT,IP_MIN_RATIO_PAYMENT_INSTALMENT,IP_MAX_RATIO_PAYMENT_INSTALMENT,IP_RATIO_EARLY_PAYMENTS_90D,IP_RATIO_EARLY_PAYMENTS_180D,IP_RATIO_EARLY_PAYMENTS_270D,IP_RATIO_EARLY_PAYMENTS_360D,IP_RATIO_EARLY_PAYMENTS_720D,IP_RATIO_EARLY_PAYMENTS_1080D,IP_RATIO_EARLY_PAYMENTS_2160D,IP_RATIO_EARLY_PAYMENTS_2880D,IP_RECENT_EARLY_PAYMENT_FLAG_3M,IP_WORST_DPD_90D,IP_WORST_DPD_180D,IP_WORST_DPD_270D,IP_WORST_DPD_360D,IP_WORST_DPD_720D,IP_WORST_DPD_1080D,IP_WORST_DPD_2160D,IP_WORST_DPD_2880D,NUM_UNDERPAID_INSTALLMENTS_180D,NUM_UNDERPAID_INSTALLMENTS_360D,NUM_UNDERPAID_INSTALLMENTS_720D,NUM_UNDERPAID_INSTALLMENTS_1080D,NUM_UNDERPAID_INSTALLMENTS_2160D,NUM_UNDERPAID_INSTALLMENTS_2880D,IP_MEAN_RATIO_INSTALMENT_PAYMENT,IP_MIN_RATIO_INSTALMENT_PAYMENT,IP_MAX_RATIO_INSTALMENT_PAYMENT,IP_SUM_RATIO_INSTALMENT_PAYMENT,CB_MAX_MONTHLY_UTIL_1M,CB_UTIL_VOLATILITY_1M,CB_WT_CREDIT_UTIL_1M,CB_MAX_MONTHLY_UTIL_3M,CB_UTIL_VOLATILITY_3M,CB_WT_CREDIT_UTIL_3M,CB_MAX_MONTHLY_UTIL_6M,CB_UTIL_VOLATILITY_6M,CB_WT_CREDIT_UTIL_6M,CB_MAX_MONTHLY_UTIL_9M,CB_UTIL_VOLATILITY_9M,CB_WT_CREDIT_UTIL_9M,CB_MAX_MONTHLY_UTIL_12M,CB_UTIL_VOLATILITY_12M,CB_WT_CREDIT_UTIL_12M,CB_MAX_MONTHLY_UTIL_18M,CB_UTIL_VOLATILITY_18M,CB_WT_CREDIT_UTIL_18M,CB_MAX_MONTHLY_UTIL_24M,CB_UTIL_VOLATILITY_24M,CB_WT_CREDIT_UTIL_24M,CB_WT_CREDIT_UTIL_TREND_3M_12M,AVG_CREDIT_DRAWING_RATIO_3M,AVG_CREDIT_DRAWING_RATIO_12M,CB_TREND_CREDIT_DRAWING_3M_12M,CB_MAX_CREDIT_USAGE_RATIO_1M,CB_WT_CREDIT_USAGE_1M,CB_MAX_CREDIT_USAGE_RATIO_3M,CB_WT_CREDIT_USAGE_3M,CB_MAX_CREDIT_USAGE_RATIO_6M,CB_WT_CREDIT_USAGE_6M,CB_MAX_CREDIT_USAGE_RATIO_9M,CB_WT_CREDIT_USAGE_9M,CB_MAX_CREDIT_USAGE_RATIO_12M,CB_WT_CREDIT_USAGE_12M,CB_MAX_CREDIT_USAGE_RATIO_18M,CB_WT_CREDIT_USAGE_18M,CB_MAX_CREDIT_USAGE_RATIO_24M,CB_WT_CREDIT_USAGE_24M,AVG_ATM_CASH_UTILIZATION_RATIO_3M,AVG_ATM_CASH_UTILIZATION_RATIO_12M,CB_TREND_ATM_CASH_UTILIZATION_3M_12M,CB_MAX_RATIO_ATM_CASH_UTILIZATION_1M,CB_WT_ATM_CASH_UTIL_1M,CB_MAX_RATIO_ATM_CASH_UTILIZATION_3M,CB_WT_ATM_CASH_UTIL_3M,CB_MAX_RATIO_ATM_CASH_UTILIZATION_6M,CB_WT_ATM_CASH_UTIL_6M,CB_MAX_RATIO_ATM_CASH_UTILIZATION_9M,CB_WT_ATM_CASH_UTIL_9M,CB_MAX_RATIO_ATM_CASH_UTILIZATION_12M,CB_WT_ATM_CASH_UTIL_12M,CB_MAX_RATIO_ATM_CASH_UTILIZATION_18M,CB_WT_ATM_CASH_UTIL_18M,CB_MAX_RATIO_ATM_CASH_UTILIZATION_24M,CB_WT_ATM_CASH_UTIL_24M,CB_AVG_ATM_WITHDRAWAL_FREQ_1M,CB_AVG_ATM_WITHDRAWAL_FREQ_3M,CB_AVG_ATM_WITHDRAWAL_FREQ_6M,CB_AVG_ATM_WITHDRAWAL_FREQ_9M,CB_AVG_ATM_WITHDRAWAL_FREQ_12M,CB_AVG_ATM_WITHDRAWAL_FREQ_18M,CB_AVG_ATM_WITHDRAWAL_FREQ_24M,CB_RATIO_MAX_POS_SPEND_1M,CB_MAX_RATIO_POS_TO_TOTAL_DRAW_1M,CB_RATIO_MAX_POS_SPEND_3M,CB_MAX_RATIO_POS_TO_TOTAL_DRAW_3M,CB_RATIO_MAX_POS_SPEND_6M,CB_MAX_RATIO_POS_TO_TOTAL_DRAW_6M,CB_RATIO_MAX_POS_SPEND_9M,CB_MAX_RATIO_POS_TO_TOTAL_DRAW_9M,CB_RATIO_MAX_POS_SPEND_12M,CB_MAX_RATIO_POS_TO_TOTAL_DRAW_12M,CB_RATIO_MAX_POS_SPEND_18M,CB_MAX_RATIO_POS_TO_TOTAL_DRAW_18M,CB_RATIO_MAX_POS_SPEND_24M,CB_MAX_RATIO_POS_TO_TOTAL_DRAW_24M,CB_MAX_RATIO_AMT_PAYMENT_MIN_INST_1M,CB_RATIO_UNDERPAYMENT_1M,CB_STD_PAYMENT_VOLATILITY_1M,CB_MAX_RATIO_PAYMENT_BALANCE_1M,CB_MAX_RATIO_AMT_PAYMENT_MIN_INST_3M,CB_RATIO_UNDERPAYMENT_3M,CB_STD_PAYMENT_VOLATILITY_3M,CB_MAX_RATIO_PAYMENT_BALANCE_3M,CB_MAX_RATIO_AMT_PAYMENT_MIN_INST_6M,CB_RATIO_UNDERPAYMENT_6M,CB_STD_PAYMENT_VOLATILITY_6M,CB_MAX_RATIO_PAYMENT_BALANCE_6M,CB_MAX_RATIO_AMT_PAYMENT_MIN_INST_9M,CB_RATIO_UNDERPAYMENT_9M,CB_STD_PAYMENT_VOLATILITY_9M,CB_MAX_RATIO_PAYMENT_BALANCE_9M,CB_MAX_RATIO_AMT_PAYMENT_MIN_INST_12M,CB_RATIO_UNDERPAYMENT_12M,CB_STD_PAYMENT_VOLATILITY_12M,CB_MAX_RATIO_PAYMENT_BALANCE_12M,CB_MAX_RATIO_AMT_PAYMENT_MIN_INST_18M,CB_RATIO_UNDERPAYMENT_18M,CB_STD_PAYMENT_VOLATILITY_18M,CB_MAX_RATIO_PAYMENT_BALANCE_18M,CB_MAX_RATIO_AMT_PAYMENT_MIN_INST_24M,CB_RATIO_UNDERPAYMENT_24M,CB_STD_PAYMENT_VOLATILITY_24M,CB_MAX_RATIO_PAYMENT_BALANCE_24M,CB_MAX_RATIO_PRINCIPAL_UTILIZATION_1M,CB_MAX_RATIO_PRINCIPAL_UTILIZATION_3M,CB_MAX_RATIO_PRINCIPAL_UTILIZATION_6M,CB_MAX_RATIO_PRINCIPAL_UTILIZATION_9M,CB_MAX_RATIO_PRINCIPAL_UTILIZATION_12M,CB_MAX_RATIO_PRINCIPAL_UTILIZATION_18M,CB_MAX_RATIO_PRINCIPAL_UTILIZATION_24M,index,CB_WORST_DPD_3M,CB_WORST_DPD_6M,CB_WORST_DPD_9M,CB_WORST_DPD_12M,CB_WORST_DPD_24M,CB_WORST_DPD_36M,CB_WORST_DPD_72M,CB_WORST_DPD_96M,CB_WORST_DPD_DEF_3M,CB_WORST_DPD_DEF_6M,CB_WORST_DPD_DEF_9M,CB_WORST_DPD_DEF_12M,CB_WORST_DPD_DEF_24M,CB_WORST_DPD_DEF_36M,CB_WORST_DPD_DEF_72M,CB_WORST_DPD_DEF_96M
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary education,Single,Owned,0.018801,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,25.920000,1.75,9.990000,5.81,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,-99999.0,-99999.0,-99999.0,-99999.0,-19.0,1.0,0.0,1.0,1.0,1.0,1.0,-99999.0,0.0,-252.600006,0.0,1.0,5043.645,0.0,-43055.056727,108131.945625,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.00000,1.0,1.000000,1.000000,1.000000,1.000000,1.00,1.000000,1.000000,1.000000,1.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000,0.000,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,Owned,0.003541,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,45.930000,3.25,3.250000,0.80,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,1.0,0.0,0.0,0.0,0.0,1.0,-99999.0,0.0,34.000000,303.0,0.0,0.000,0.0,0.000000,254350.125000,1.0,-99999.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.00000,1.0,-99999.000000,-99999.000000,-99999.000000,-99999.000000,1.00,1.000000,1.000000,1.000000,0.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000,0.000,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary education,Single,Owned,0.010032,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,52.180000,0.62,11.670000,6.93,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,1.0,0.0,0.0,0.0,0.0,0.0,-99999.0,0.0,-44.000000,0.0,0.0,0.000,0.0,0.000000,94518.900000,0.0,-99999.0,-99999.0,1.0,1.0,1.0,1.0,1.000000,1.00000,1.0,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.00,1.000000,1.000000,1.000000,0.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000,0.000,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary education,Civil marriage,Owned,0.008019,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,52.070000,8.33,26.940001,6.68,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.000000,-99999.0,-99999.0,-99999.000,-99999.0,-99999.000000,-99999.000000,-99999.0,1.0,2.0,2.0,2.0,2.0,2.0,1.000000,1.00000,1.0,1.000000,1.000000,1.000000,1.000000,1.00,1.000000,1.000000,1.000000,1.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000,0.000,0.0,-99999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,0.0,-77777.0,0.0,-77777.0,0.0,-77777.0,0.0,-77777.0,0.0,-77777.0,0.0,-77777.0,0.0,-77777.0,-77777.0,0.0,-99999.0,-77777.0,-77777.0,0.0,0.0,-77777.0,-77777.0,0.0,0.0,-77777.0,-77777.0,0.0,0.0,-77777.0,-77777.0,0.0,0.0,-77777.0,-77777.0,0.0,0.0,-77777.0,-77777.0,0.0,0.0,-77777.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary education,Single,Owned,0.028663,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,54.610001,8.32,11.810000,9.47,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,1.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,0.0,0.000000,0.0,0.0,0.000,0.0,0.000000,146250.000000,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.954545,0.00005,1.0,0.333333,0.666667,0.777778,0.846154,0.92,0.785714,0.683333,0.621212,1.0,0.0,0.0,0.0,0.0,0.0,2.0,12.0,12.0,0.0,0.0,0.0,1.0,3.0,3.0,473.926429,0.0,22678.785,29857.365,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

#### bureau balance

In [23]:
df1 = pd.read_csv(r'D:\home loan credit risk\artifact\raw\bureau_balance.csv')
df1.head(15)

    SK_ID_BUREAU  MONTHS_BALANCE STATUS
0        5715448               0      C
1        5715448              -1      C
2        5715448              -2      C
3        5715448              -3      C
4        5715448              -4      C
5        5715448              -5      C
6        5715448              -6      C
7        5715448              -7      C
8        5715448              -8      C
9        5715448              -9      0
10       5715448             -10      0
11       5715448             -11      X
12       5715448             -12      X
13       5715448             -13      X
14       5715448             -14      0

#### bureau

In [24]:
df1 = pd.read_csv(r'D:\home loan credit risk\artifact\raw\bureau.csv')
df1.head(15)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.00,0.00,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.00,171342.00,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.50,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.00,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.00,NaN,NaN,0.0,Consumer credit,-21,NaN
5,215354,5714467,Active,currency 1,-273,0,27460.0,NaN,0.0,0,180000.00,71017.38,108982.62,0.0,Credit card,-31,NaN
6,215354,5714468,Active,currency 1,-43,0,79.0,NaN,0.0,0,42103.80,42103.80,0.00,0.0,Consumer credit,-22,NaN
7,162297,5714469,Closed,currency 1,-1896,0,-1684.0,-1710.0,14985.0,0,76878.45,0.00,0.00,0.0,Consumer credit,-1710,NaN
8,162297,5714470,Closed,currency 1,-1146,0,-811.0,-840.0,0.0,0,103007.70,0.00,0.00,0.0,Consumer credit,-840,NaN
9,162297,5714471,Active,currency 1,-1146,0,-484.0,NaN,0.0,0,4500.00,0.00,0.00,0.0,Credit card,-690,NaN
10,162297,5714472,Active,currency 1,-1146,0,-180.0,NaN,0.0,0,337500.00,0.00,0.00,0.0,Credit card,-690,NaN
11,162297,5714473,Closed,currency 1,-2456,0,-629.0,-825.0,NaN,0,675000.00,0.00,0.00,0.0,Consumer credit,-706,NaN
12,162297,5714474,Active,currency 1,-277,0,5261.0,NaN,0.0,0,7033500.00,NaN,NaN,0.0,Mortgage,-31,NaN
13,402440,5714475,Active,currency 1,-96,0,269.0,NaN,0.0,0,89910.00,76905.00,0.00,0.0,Consumer credit,-22,NaN
14,238881,5714482,Closed,currency 1,-318,0,-187.0,-187.0,NaN,0,0.00,0.00,0.00,0.0,Credit card,-185,NaN

#### credit card balance

In [25]:
df1 = pd.read_csv(r'D:\home loan credit risk\artifact\raw\credit_card_balance.csv')
df1.head(15)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.500,0.0,877.500,1700.325,1800.000,1800.000,0.000,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.000,0.0,0.000,2250.000,2250.000,2250.000,60175.080,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.000,0.0,0.000,2250.000,2250.000,2250.000,26926.425,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.000,0.0,0.000,11795.760,11925.000,11925.000,224949.285,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.000,0.0,11547.000,22924.890,27000.000,27000.000,443044.395,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0
5,2646502,380010,-7,82903.815,270000,0.0,0.000,0.0,0.000,4449.105,3825.000,3825.000,80519.040,82773.315,82773.315,0.0,0,0.0,0.0,2.0,Active,7,0
6,1079071,171320,-6,353451.645,585000,67500.0,67500.000,0.0,0.000,14684.175,15750.000,15750.000,345433.860,351881.145,351881.145,1.0,1,0.0,0.0,6.0,Active,0,0
7,2095912,118650,-7,47962.125,45000,45000.0,45000.000,0.0,0.000,0.000,264.690,0.000,44735.310,47962.125,47962.125,1.0,1,0.0,0.0,51.0,Active,0,0
8,2181852,367360,-4,291543.075,292500,90000.0,289339.425,0.0,199339.425,130.500,4093.515,4093.515,285376.410,286831.575,286831.575,3.0,8,0.0,5.0,3.0,Active,0,0
9,1235299,203885,-5,201261.195,225000,76500.0,111026.700,0.0,34526.700,6338.340,45000.000,45000.000,192793.275,197224.695,197224.695,3.0,9,0.0,6.0,38.0,Active,0,0
10,1108284,209660,-7,102076.560,180000,92250.0,92250.000,0.0,0.000,0.000,4500.000,4500.000,92237.355,94224.060,94224.060,5.0,5,0.0,0.0,0.0,Active,0,0
11,2740914,340339,-1,131669.145,225000,10800.0,10800.000,0.0,0.000,6000.480,6322.500,6322.500,121430.700,127891.935,127891.935,2.0,2,0.0,0.0,6.0,Active,0,0
12,1985699,302517,-4,1427.265,135000,4500.0,101304.720,0.0,96804.720,3023.955,85500.000,85500.000,0.000,0.000,0.000,1.0,30,0.0,29.0,27.0,Active,0,0
13,1441883,171537,-5,0.000,270000,0.0,0.000,0.0,0.000,12218.490,2607.795,1448.640,0.000,0.000,0.000,0.0,0,0.0,0.0,2.0,Active,0,0
14,1864742,303581,-1,0.000,45000,0.0,0.000,0.0,0.000,0.000,2.295,0.000,0.000,0.000,0.000,0.0,0,0.0,0.0,59.0,Active,0,0

#### installment payments

In [26]:
data_path = r'D:\home loan credit risk\artifact\raw\installments_payments.csv'
df1 = pd.read_csv(data_path)
df1.head(15)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585
5,1137312,164489,1.0,12,-1384.0,-1417.0,5970.375,5970.375
6,2234264,184693,4.0,11,-349.0,-352.0,29432.295,29432.295
7,1818599,111420,2.0,4,-968.0,-994.0,17862.165,17862.165
8,2723183,112102,0.0,14,-197.0,-197.0,70.740,70.740
9,1413990,109741,1.0,4,-570.0,-609.0,14308.470,14308.470
10,1782554,106597,1.0,3,-933.0,-937.0,34620.525,34620.525
11,2558880,154793,1.0,8,-1262.0,-1269.0,15031.080,15031.080
12,1570206,147645,0.0,20,-761.0,-761.0,21.510,21.510
13,1723268,197273,1.0,14,-755.0,-800.0,6093.990,6093.990
14,1594684,100193,0.0,56,-1153.0,-1153.0,301.860,301.860

#### pos cash balance

In [27]:
data_path = r'D:\home loan credit risk\artifact\raw\POS_CASH_balance.csv'
df1 = pd.read_csv(data_path)
df1.head(15)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0
5,2207092,342166,-32,12.0,12.0,Active,0,0
6,1110516,204376,-38,48.0,43.0,Active,0,0
7,1387235,153211,-35,36.0,36.0,Active,0,0
8,1220500,112740,-31,12.0,12.0,Active,0,0
9,2371489,274851,-32,24.0,16.0,Active,0,0
10,2328294,287361,-32,12.0,12.0,Active,0,0
11,2023570,237959,-39,12.0,12.0,Active,0,0
12,1258390,278261,-32,36.0,36.0,Active,0,0
13,1627166,146161,-33,24.0,24.0,Active,0,0
14,1711625,131467,-34,12.0,5.0,Active,0,0

#### previous applications

In [28]:
data_path = r'D:\home loan credit risk\artifact\raw\previous_application.csv'
df1 = pd.read_csv(data_path)
df1.head(15)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,Y,1,NaN,NaN,NaN,XNA,Approved,-512,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,Y,1,NaN,NaN,NaN,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN
5,1383531,199383,Cash loans,23703.930,315000.0,340573.5,NaN,315000.0,SATURDAY,8,Y,1,NaN,NaN,NaN,Everyday expenses,Approved,-684,Cash through the bank,XAP,Family,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,18.0,low_normal,Cash X-Sell: low,365243.0,-654.0,-144.0,-144.0,-137.0,1.0
6,2315218,175704,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Canceled,-14,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
7,1656711,296299,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,7,Y,1,NaN,NaN,NaN,XNA,Canceled,-21,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
8,2367563,342292,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,15,Y,1,NaN,NaN,NaN,XNA,Canceled,-386,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
9,2579447,334349,Cash loans,NaN,0.0,0.0,NaN,NaN,SATURDAY,15,Y,1,NaN,NaN,NaN,XNA,Canceled,-57,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
10,1715995,447712,Cash loans,11368.620,270000.0,335754.0,NaN,270000.0,FRIDAY,7,Y,1,NaN,NaN,NaN,XNA,Approved,-735,Cash through the bank,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,54.0,low_normal,Cash X-Sell: low,365243.0,-705.0,885.0,-345.0,-334.0,1.0
11,2257824,161140,Cash loans,13832.775,211500.0,246397.5,NaN,211500.0,FRIDAY,10,Y,1,NaN,NaN,NaN,XNA,Approved,-815,Cash through the bank,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,30.0,middle,Cash X-Sell: middle,365243.0,-785.0,85.0,-725.0,-721.0,1.0
12,2330894,258628,Cash loans,12165.210,148500.0,174361.5,NaN,148500.0,TUESDAY,15,Y,1,NaN,NaN,NaN,XNA,Approved,-860,Cash through the bank,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,24.0,high,Cash X-Sell: high,365243.0,-830.0,-140.0,-200.0,-197.0,1.0
13,1397919,321676,Consumer loans,7654.860,53779.5,57564.0,0.0,53779.5,SUNDAY,15,Y,1,0.0,NaN,NaN,XAP,Approved,-408,Cash through the bank,XAP,Unaccompanied,New,Consumer Electronics,POS,XNA,Country-wide,200,Consumer electronics,8.0,low_action,POS household without interest,365243.0,-378.0,-168.0,-168.0,-163.0,1.0
14,2273188,270658,Consumer loans,9644.220,26550.0,27252.0,0.0,26550.0,SATURDAY,10,Y,1,0.0,NaN,NaN,XAP,Approved,-726,Cash through the bank,XAP,NaN,New,Construction Materials,POS,XNA,Stone,83,Consumer electronics,3.0,middle,POS household with interest,365243.0,-693.0,-633.0,-633.0,-627.0,0.0

##  work

In [8]:
#special_values :
    #both numerator and denominator missing placeholder
DN_MISSING_PLACEHOLDER = - 99999
#numerator missing
N_MISSING_PLACEHOLDER = - 88888
#denominator missing
D_MISSING_PLACEHOLDER = - 77777
# missing value placeholder 
PLACEHOLDER = - 99999
# loan but the data is missing
DPD_LOAN_DATA_MISSING  = -88888

In [9]:
df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CB_WORST_DPD_72M,CB_WORST_DPD_96M,CB_WORST_DPD_DEF_3M,CB_WORST_DPD_DEF_6M,CB_WORST_DPD_DEF_9M,CB_WORST_DPD_DEF_12M,CB_WORST_DPD_DEF_24M,CB_WORST_DPD_DEF_36M,CB_WORST_DPD_DEF_72M,CB_WORST_DPD_DEF_96M
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [10]:
SPECIAL_VALUES = [-99999, -88888, -77777]

# special values
special_df = pd.DataFrame({
    'feature': df.columns,
    'special_ratio': df.isin(SPECIAL_VALUES).sum().values / df.shape[0]
})

#zero values
zero_df = (
    (df == 0).sum()
    .div(df.shape[0])
    .reset_index()
    .rename(columns={'index': 'feature', 0: 'zero_ratio'})
)

#Null_values
new_df = (df.isnull().sum() / df.shape[0]).to_frame('null_ratio').reset_index().rename(columns={'index': 'feature'})

In [11]:
feature_quality_df = special_df.merge(zero_df,on='feature',how='left').merge(new_df,on='feature',how='left')
feature_quality_df

                  feature  special_ratio  zero_ratio  null_ratio
0              SK_ID_CURR       0.000000    0.000000         0.0
1                  TARGET       0.000000    0.919271         0.0
2      NAME_CONTRACT_TYPE       0.000000    0.000000         0.0
3             CODE_GENDER       0.000000    0.000000         0.0
4            FLAG_OWN_CAR       0.000000    0.000000         0.0
..                    ...            ...         ...         ...
311  CB_WORST_DPD_DEF_12M       0.717392    0.277779         0.0
312  CB_WORST_DPD_DEF_24M       0.717392    0.273304         0.0
313  CB_WORST_DPD_DEF_36M       0.717392    0.267275         0.0
314  CB_WORST_DPD_DEF_72M       0.717392    0.246105         0.0
315  CB_WORST_DPD_DEF_96M       0.717392    0.234343         0.0

[316 rows x 4 columns]

In [12]:
feature_quality_df['max_bad_ratio'] = (
    feature_quality_df[['special_ratio', 'zero_ratio', 'null_ratio']]
    .max(axis=1)
)
feature_quality_df['drop_feature'] = (
    feature_quality_df['max_bad_ratio'] > 0.95
)

In [27]:
temp = feature_quality_df[feature_quality_df['drop_feature']==True]
drop_features = temp['feature'].values.tolist()

In [29]:
df.shape

(307511, 316)

In [28]:
df.drop(columns=drop_features)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CB_WORST_DPD_72M,CB_WORST_DPD_96M,CB_WORST_DPD_DEF_3M,CB_WORST_DPD_DEF_6M,CB_WORST_DPD_DEF_9M,CB_WORST_DPD_DEF_12M,CB_WORST_DPD_DEF_24M,CB_WORST_DPD_DEF_36M,CB_WORST_DPD_DEF_72M,CB_WORST_DPD_DEF_96M
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0